<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="2" class="ion-align-items-center">
          <ion-button (click)="openMenu()" size="small" fill="clear">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8" class="ion-align-items-center">
          <ion-searchbar
            placeholder="Search Twitter"
            mode="ios"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="2" class="ion-align-items-center">
          <ion-button size="small" fill="clear">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-segment scrollable value="For-you" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="For-you">
      <p>For you</p>
    </ion-segment-button>
    <ion-segment-button value="COVID">
      <p>COVID-19</p>
    </ion-segment-button>
    <ion-segment-button value="Trending">
      <p>Trending</p>
    </ion-segment-button>
    <ion-segment-button value="News">
      <p>News</p>
    </ion-segment-button>
    <ion-segment-button value="Sports">
      <p>Sports</p>
    </ion-segment-button>
    <ion-segment-button value="Entertainment">
      <p>Entertainment</p>
    </ion-segment-button>
  </ion-segment>
  <!-- suggested for you  -->
  <h2 style="padding: 5px">Suggested for you</h2>
  <ion-slides [options]="ops">
    <ion-slide *ngFor="let tweet of tweets">
      <div class="slide">
        <div class="avatar">
          <ion-avatar style="display: flex; justify-content: center">
            <img
              style="display: flex; justify-content: center"
              [src]="'../../assets/images/' + tweet.img"
            />
          </ion-avatar>
        </div>
        <ion-text color="dark">
          <h2>{{tweet.username}}</h2>
        </ion-text>
        <ion-text color="medium">
          <p>@{{tweet.handle}}</p>
        </ion-text>
        <ion-button size="small" fill="outline" shape="round">
          Follow
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <h2 style="padding: 5px">{{posts}}</h2>
  <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
</ion-content>
