<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons (click)="openMenu()" slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="display: flex; justify-content: center">
      <ion-icon name="logo-twitter" color="primary" size="large"></ion-icon>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="sparkles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- fleet -->
  <ion-slides [options]="ops">
    <ion-slide *ngFor=" let fleet of fleets">
      <ion-avatar>
        <img [src]="'../../assets/images/'+fleet.img" />
      </ion-avatar>
    </ion-slide>
  </ion-slides>
  <!-- tweets -->
  <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  <div *ngIf="segment === 'content'"></div>
</ion-content>
