<ion-row class="wrapper">
  <ion-col size="2" class="need-padding">
    <ion-avatar>
      <img [src]="'../../assets/images/' + tweet.img" />
    </ion-avatar>
  </ion-col>
  <ion-col size="10">
    <!-- <ion-row>
      <ion-col size="12"> -->
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="name"> {{ tweet.username }}</span>
      </ion-col>
    </ion-row>
    <ion-row class="tweet-info">
      <ion-col size="12">
        <span class="handle"> @{{ tweet.handle }} - </span>
        <span class="handle">
          {{ tweet.date * 1000 | date: "shortDate" }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <div [innerHtml]="tweet.text | sanitizeHtml"></div>
        <img
          class="preview-img"
          [src]="'../../assets/images/' + tweet.attachment"
          *ngIf="!!tweet.attachment"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
          {{ tweet.response }}
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button
          (click)="tweet.retweet = !tweet.retweet"
          fill="clear"
          [style.color]="tweet.retweet ? '#17bf63' : 'var(--ion-color-medium)'"
          size="small"
        >
          <ion-icon slot="start" name="repeat-outline"></ion-icon>
          {{ tweet.retweets }}
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button
          (click)="tweet.liked = !tweet.liked"
          fill="clear"
          [style.color]="tweet.liked ? '#e0245e' : 'var(--ion-color-medium)'"
          size="small"
        >
          <ion-icon
            slot="start"
            [name]="tweet.liked ? 'heart' : 'heart-outline'"
          ></ion-icon>
          {{ tweet.like }}
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button fill="clear" color="medium" size="small">
          <ion-icon slot="start" name="share-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
